.system-header {
  font-weight: 400;
  margin: 0 0 1.25rem 0;
  text-align: center;
}

.login-page {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  #particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .container {
    background-color: var(--white);
    border-radius: var(--button-radius);
    box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
    0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
    height: var(--max-height);
    max-width: var(--max-width);
    overflow: hidden;
    position: relative;
    width: 100%;

    .container-form {
      height: 100%;
      position: absolute;
      top: 0;
      transition: all 0.6s ease-in-out;

      .ant-form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 0 3rem !important;
        height: 100%;

        .user-type-form-item {
          margin-bottom: 12px;
        }

        .ant-form-item-control-input {
          min-height: 36px;

          .ant-input-affix-wrapper {
            font-size: 16px;
          }
        }

        .form-button {
          width: 100%;
          height: 36px;
        }
      }

      &.container-signup {
        left: 0;
        width: 50%;
        z-index: 5;
      }

      &.container-signin {
        left: 0;
        opacity: 0;
        width: 50%;
        z-index: 4;
      }
    }

    .container-overlay {
      height: 100%;
      left: 50%;
      overflow: hidden;
      position: absolute;
      top: 0;
      transition: transform 0.6s ease-in-out;
      width: 50%;
      z-index: 100;

      .overlay {
        background-color: rgba(255, 255, 255, 0.25);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        left: -100%;
        position: relative;
        transform: translateX(0);
        transition: transform 0.6s ease-in-out;
        width: 200%;

        .overlay-panel {
          align-items: center;
          display: flex;
          flex-direction: column;
          height: 100%;
          justify-content: center;
          position: absolute;
          text-align: center;
          top: 0;
          transform: translateX(0);
          transition: transform 0.6s ease-in-out;
          width: 50%;

          &.overlay-left {
            transform: translateX(-20%);
          }

          &.overlay-right {
            right: 0;
            transform: translateX(0);
          }

          .toggle-btn {
            background-color: var(--blue);
            background-image: linear-gradient(90deg, var(--blue) 0%, var(--lightblue) 74%);
            border-radius: 20px;
            border: 0.2px solid var(--blue-r);
            color: var(--white);
            cursor: pointer;
            font-size: 0.8rem;
            font-weight: bold;
            letter-spacing: 0.1rem;
            padding: 0.9rem 4rem;
            text-transform: uppercase;
            transition: transform 80ms ease-in;
          }
        }
      }
    }

    &.right-panel-active {
      .container-signup {
        transform: translateX(100%);
        opacity: 0;
      }

      .container-signin {
        -webkit-animation: show 0.6s;
        animation: show 0.6s;
        opacity: 1;
        transform: translateX(100%);
        z-index: 8;
      }

      .container-overlay {
        transform: translateX(-100%);

        .overlay {
          transform: translateX(50%);

          .overlay-left {
            transform: translateX(0);
          }

          .overlay-right {
            transform: translateX(20%);
          }
        }
      }
    }
  }
}

@-webkit-keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 4;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 8;
  }
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 4;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 8;
  }
}
