.app-slider {
  .logo {
    display: flex;
    align-items: center;
    width: calc(100% - 32px);
    height: 32px;
    padding-left: 44px;
    margin: 16px;
    font-size: 24px;
    color: #fff;
    background: url("../images/logo.png") 0 0 no-repeat;
    background-size: auto 100%;
  }
}
