.app-header {
  display: flex;
  align-items: center;
  padding: 0 16px !important;
  font-size: 18px;
  background: #fff !important;

  .slider-collapse-btn {
    .anticon {
      cursor: pointer;
    }
  }

  .header-menu-wrapper {
    flex: 1;
    margin: 0 16px;
  }

  .header-action-wrapper {
    display: flex;
    align-items: center;
    justify-content: right;
  }
}
